apiVersion: v2
name: cloudzero-agent
description: A chart for using Prometheus in agent mode to send cluster metrics to the CloudZero platform.
type: application
version: 1.0.1
maintainers:
  - name: CloudZero
    email: support@cloudzero.com
appVersion: "v2.50.1"
dependencies:
  - name: kube-state-metrics
    version: "5.15.*"
    repository: https://prometheus-community.github.io/helm-charts
    condition: kubeStateMetrics.enabled
    alias: kubeStateMetrics
